*{

}
#wrap {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    background-color: grey;
}

p {
    display: inline;
    font-size: 50px;
    background-color: red;
}

.button {
    background-color: blue;
    color: white;
}
.alphabets {
    margin-top: -500px;
    margin-left: 90px;
    background-color: silver;
    border: 2px solid red;
    width: 320px;
    height: 370px;
}

.letterBtn{

}

.letterBtn {
    color: white;
    background-color: blue;
    margin: 1px;
    width: 10px;
    display: inline-block;

}

.letterBtn {
    /*display: block;*/
    padding: 20px;
}

