
body, html {
    font-family: 'Raleway', sans-serif;
    text-align: center;
/*    background: url('https://img00.deviantart.net/70ca/i/2010/066/f/0/tragedy_wallpaper_updated_by_hrcm.jpg');
*/    height: 100%; 

    /*background: url('https://images.pexels.com/photos/1292344/pexels-photo-1292344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');*/
    
    background: url('https://i.imgur.com/f2pjJsx.jpg');
/*    https://i.imgur.com/f2pjJsx.jpg
*/

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;

}


p {
    display: inline;
    font-size: 100px;
    letter-spacing: 100px;
    text-decoration: none;
}

.button {
    width: 500px;
    height: 100px;
    font-size: 100px;
    background: transparent;
    color: black;
    text-decoration: none;
    border: none;
}
.alphabets {
    /*margin-top: 175px;*/
    margin-left: 5px;
    margin-top: 650px;
    width: 700px;
    height: 350px;
/*    margin: 25px;
*/    /*padding: 25px;*/
    text-align: center;

    cursor: pointer;

    text-shadow: 20px 10px 50px grey, 10px 10px 30px grey;
    
}


.letterBtn {
    font-size: 50px;
    display: inline-block;
    padding: 170px;
    color: grey;
    width: 45px;
    height: 45px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 1.2s;
    font-weight: bold;
    text-transform: uppercase;

}

.letterBtn:hover {
    font-size: 80px;
    cursor: pointer;
    color: red; 
}





.letterBtn {
    /*display: block;*/
    padding: 20px;
}




/* Standard syntax */
@keyframes example {
    from {color: red;}
    to {color: darkred;}
}

.noMoreTries {
    margin-left: 670px;
    margin-top: -600px;
    animation: blur .75s ease-out infinite;
    text-shadow: 50px 50px 50px red, 10px 10px 30px #fff;
    width: 700px;
    height: 30px;
    font-size: 200px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}


.compare{
    margin-left: 670px;
    margin-top: -450px;
    animation: blur .75s ease-out infinite;
    text-shadow: 50px 50px 50px red, 10px 10px 30px #fff;
    width: 700px;
    height: 30px;
    font-size: 200px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
}

























