
body, html {
    /*ont-family: 'Raleway', sans-serif;
    text-align: center;
    background: url('https://img00.deviantart.net/70ca/i/2010/066/f/0/tragedy_wallpaper_updated_by_hrcm.jpg');
    height: 100%; */

    /*background: url('https://images.pexels.com/photos/1292344/pexels-photo-1292344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');*/
    
    background: url('https://i.imgur.com/f2pjJsx.jpg');
/*    https://i.imgur.com/f2pjJsx.jpg
*/



    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/*    margin: 0;
    padding: 0;*/

}


p {
    display: inline;
    font-size: 100px;
    letter-spacing: 100px;
    text-decoration: none;

    
}

.button {
    background-color: red;
    width: 500px;
    height: 100px;
    font-size: 100px;
    background: transparent;
    color: black;
    border: none;
    margin-left: 600px;
}
.alphabets {
     width: 650px;
    height: 350px;
    /*margin: 25px;
    padding: 25px;*/
    text-align: center;

    cursor: pointer;
    padding: 0px;

    text-shadow: 20px 10px 50px grey, 10px 10px 30px grey;
    margin-top: 540px;
    color: silver;
    position:fixed;
    top:0px;
    bottom: 0px;
    left:0;
    right:0;
    
}


.letterBtn {
    font-size: 100px;
    display: inline-block;
    width: 45px;
    height: 45px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 1.2s;
    font-weight: bold;
    text-transform: uppercase;

}

.letterBtn:hover {
    font-size: 80px;
    cursor: pointer;
    color: black; 
}





.letterBtn {
    /*display: block;*/
    padding: 20px;
}




/* Standard syntax */
@keyframes example {
    from {color: red;}
    to {color: darkred;}
}

.guessWord {
    margin-top: 150px;
    color: lightblue;
    text-align: center;
}



.noMoreTries {
    margin-left: 670px;
    margin-top: -50px;
    animation: blur .75s ease-out infinite;
    text-shadow: 50px 50px 50px red, 10px 10px 30px #fff;
    width: 700px;
    height: 30px;
    font-size: 200px;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 4s;
}


.compare{
    margin-left: 700px;
    margin-top: -20px;
    animation: blur .75s ease-out infinite;
    text-shadow: 50px 50px 50px red, 10px 10px 30px #fff;
    width: 700px;
    height: 30px;
    font-size: 200px;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 1s;


}


.submit {
    margin-right: 1390px;
    height: 55px;
    float: right;
    margin-top: -55px;
}

.inputName {
    margin-right: 1400px;
    height: 50px;
} 


.goHome {
    color: white;
    font-size: 100px;
    border: 2px solid red;
    text-decoration: none;
    background-color: silver;
    color: black;
}

.goHome: hover{
    background-color: grey;
}

.WoW {

    animation: blur .75s ease-out infinite;
    text-shadow: 50px 50px 50px red, 10px 10px 30px #fff;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 1s;



    font-size: 100px;
    margin-top: 400px;
    margin-left: 230px;
    font-weight: bold;

}

.restart {
    color: white;
    font-size: 50px;
    border: 2px solid red;
    text-decoration: none;
    background-color: silver;
    color: black;
    margin-left: 1500px;
}


.info {
    font-size: 10px;
}
























